@media (max-width:768px) {
  .banner__text {
    font-size: 32px;
  }

  .banner__buttons {

    margin-top: 24px;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .button {
    flex-basis: 48%;
    margin-bottom: 16px;
  }
}

body{
  margin: 0px;
  padding: 0px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0D1728;
  margin: 0;
  width: 100vw; /* set width to viewport width */
  height: 100vh; /* set height to viewport height */
}

/* Title */

.banner__text {
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color:#FFFFFF; 
}


.banner__ai {
  display: block;
}

.banner__ai span {
  color: #AAF908;
  transition: color 0.3s ease-in-out;
}

.banner__text:hover .banner__ai span {
  background: linear-gradient(to right, #AAF908, #FBC902);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-color 0.3s ease-in-out;
}


/* Buttons */
.banner__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:30px;
  text-align: center; 
  display: inline-block;
}

.button {
  
  font-weight: 500;
  font-size: 18px;
  
  letter-spacing:0.01em;
}

.button:hover{
 cursor: pointer; 
 transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
}

.button_create {
  margin-left:20px;
  padding: 13.2923px 22.1538px;
  gap: 11.08px;

  background-color: #FFFFFF;
  border: none;
  border-radius: 6.64615px;

  color: #222222;
  font-family: 'Poppins', Arial, sans-serif;
  line-height: 27px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.button_demo {
  box-sizing: border-box;
  
  margin-left:20px;
  padding:13.2923px 22.1538px; 
  gap:11.08px;

   background-color:#0D1728; 
   border:solid 1px #FFFFFF;
   border-radius:6.64615px; 

   color:#FFFFFF;
   font-family: 'Helvetica Neue', Arial, sans-serif;
   line-height: 22px;
   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

